apiVersion: admissionregistration.k8s.io/v1beta1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
  - name: image-mapper.imagerelocation.pivotal.io
    namespaceSelector:
      matchExpressions:
        - key: image-mapper-webhook.image-relocation.pivotal.io/enabled
          operator: NotIn
          values:
            - "false"
